* @arhamchopra @emilybarrettp72 @neejweej @ptomecek @feussy @hintse @timkpaine @vstolin

# Administrative
.github/CODEOWNERS @ptomecek @timkpaine
LICENSE @ptomecek @timkpaine
NOTICE @ptomecek @timkpaine
