<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="{{ base_path }}/" />
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <link rel="icon" href="{{ base_path }}/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/static/index.css" />
    {% for href in custom_css %}
    <link rel="stylesheet" type="text/css" href="{{ href }}" />
    {% endfor %}
    <script>
      window.__CSP_GATEWAY_UI_CONFIG__ = {{ ui_config | tojson }};
    </script>
    <script type="module" defer="defer" src="{{ base_path }}/static/main.js"></script>
    {% for src in custom_js %}
    <script defer="defer" src="{{ src }}"></script>
    {% endfor %}
  </head>
  <body>
    <div id="gateway-root"></div>
  </body>
</html>
