name: Publish Docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "README.md"
  workflow_dispatch:

concurrency:
  group: docs
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make home file
        run: cp README.md docs/wiki/Home.md
        
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      
      - name: Install NBConvert
        run: pip install nbconvert
  
      - name: Convert Example Notebooks to Markdown
        run: jupyter nbconvert examples/Client.ipynb --to markdown --output  ../docs/wiki/Client.md

      - name: Upload Documentation to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs/wiki
